
@import url('http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css');

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#mainLayout {
    height: 100%;
    width : 100%;
    overflow : hidden;
    position : absolute;

}

#workspaceWrap{
    width: 100%;
    height : 100%;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
}

#showWorkspace, .fixInnerWorkspace{

    display: block;
    -webkit-perspective: 600px;
    -webkit-perspective-origin: 50% 50%;

    position: absolute;
    left: 0;
    right : 0;
    top: 0;
    bottom : 0;
    overflow: hidden;
}

.fixWorkspace{;
    display: block;
    -webkit-perspective: 600px;
    -webkit-perspective-origin: 300px 100px;

    position: absolute;
    left: 0;
    right : 0;
    top: 0;
    bottom : 0;
    overflow: hidden;
}

.past{
    display: block;
    opacity: 0.1;

    /*
        circle
        -webkit-transform: translate3d(-0px, 0, 0) rotateY(-180deg) translate3d(-0px, 0, 0);
     */
}


.future{
    display: block;
    opacity : 0.1;
    /*
        circle
        -webkit-transform: translate3d(0px, 0, 0) rotateY(180deg) translate3d(0px, 0, 0);
    */
}

.cube .past{
    -webkit-transform-origin: 1024px 0px;
    -webkit-transform: translate3d(-1024px,0, 0) rotateY(-90deg);
}

.cube .future{
    -webkit-transform-origin: 0px 0px;
    -webkit-transform: translate3d(1024px, 0, 0) rotateY(90deg);
}

.zoom .past{
    -webkit-transform: scale(16);
}

.zoom .future{
    -webkit-transform: scale(0.2);
}

.concave .past{
    -webkit-transform: translate3d(-900px, 0, 0) rotateY(70deg) translate3d(-900px, 0, 0);
}

.concave .future{
    -webkit-transform: translate3d(900px, 0, 0) rotateY(-70deg) translate3d(900px, 0, 0);
}

.linear .past{
    -webkit-transform: translate(2000px, 0)
}

.linear .future{
    -webkit-transform: translate(-3000px, 0)
}


.round .past{
    -webkit-transform: translate3d(-1024px, 0, 0) rotateY(-140deg) translate3d(-1024px, 0, 0);
}

.round .future{
    -webkit-transform: translate3d(1024px, 0, 0) rotateY(70deg) translate3d(1024px, 0, 0);
}




#world, .fixWorld .currentWorld, .prevWorld  {
    position: absolute;
    height: 0;
    width: 0;
    -webkit-transform-style: preserve-3d;
}

.fixWorld{
    width : 100%;
    height : 100%;
}

#showUrlWrap{
    bottom:0;
    right : 0;
    margin-right : 6px;
    margin-top : 6px;
    position: absolute;

}

.visible{
    opacity: 1.0;
}

.gone{
    opacity: 0.0;
}