<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/show.css" />
    <link rel="stylesheet" type="text/css" href="/css/leftMenuBar.css" />
    <link rel="stylesheet" type="text/css" href="/css/topToolBar.css" />
    <link rel="stylesheet" type="text/css" href="/css/styleDialog.css" />
    <link rel="stylesheet" type="text/css" href="/css/content.css" />
    <link rel="stylesheet" type="text/css" href="/css/dialogs.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.side.layer.css" />
    <link rel="stylesheet" type="text/css" href="/css/m-styles.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/colorpicker.css" />


    <link rel="stylesheet" type="text/css" href="/css/farbtastic.css" />
    <link rel="stylesheet" type="text/css" href="/css/icheck-all.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.selectbox.css" />
    <link rel="stylesheet" type="text/css" href="/css/style_panel.css" />
    <script data-main="/main_show.js" src="/require.js"></script>
    <script>
        window.onload = function(){

             var presentationData = '<%=presentationData%>';
             var presentationKey = '<%=presentationKey%>';

             presentationData = presentationData.replace(/&shin;/gi,'\\').replace(/&lt;/gi,'<').replace(/&gt;/gi,'>').replace(/&quot;/gi,'"');
             localStorage.setItem('showData',presentationData);

             require(['show'],function(App){
                  App.initialize();
             });
        };
    </script>

</head>
<body>
<div id="mainLayout">

    <div id='workspaceWrap'>
        <div id="showWorkspace">

        </div>
    </div>


</div>
</body>
</html>