<div id="slide_style_control">
    <div class='dialog_content'>
        <div class='left_panel'>
            <div class='style_selector'>
                <select id='style_selector'>
                    <option value='slide_style'>slide style</option>
                    <option value='slide_contents'>slide contents</option>
                </select>
                <ul class='style_header_btn_set'>

                    <li id='styleCancelBtn'>×</li>
                </ul>
            </div>
            <div class='style_control_panel_' id='styleControlPanel'>

            </div>
        </div>

    </div>
</div>


