<div class='slide_contents_control float_left'>

    <div class='style_group float_left world_preview_wrap'>
        <div id='previewWorldWrap'>

        </div>
    </div>

    <div class='style_group  float_right world_contents_list_wrap'>
        <div class="setting-block">
            <ul class='world_content_list' id='contentsList'>
                <li class='active'>
                    <span class='visible_content_icon'></span>
                    <span class='visible_content_name'>Sequence</span>
                </li>
                <li class='inactive'>
                    <span class='visible_content_icon'></span>
                    <span class='visible_content_name'>Text</span>
                </li>

            </ul>
        </div>
    </div>

</div>